.Todo {
  display: flex;
  font-size: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  user-select: none;
  padding: 1em;
  align-items: center;
}

.Todo.completed {
  color: lightgray;
  transition: color 0.2s;
}

.Todo.completed .todo-title {
  text-decoration: line-through;
}
